/*Imports*/
@import "compass/css3/images";

/*Link Colors*/
$header-link-color: white;
$header-link-hover-color: $header-link-color;
$header-link-active-color: $header-link-color;
$header-link-visited-color: $header-link-color;

/*background Colors*/
$header-top-color: hsl(0, 0%, 40%);
$header-bottom-color: hsl(0, 0%, 15%);
$header-background: 
  linear-gradient(top, $header-top-color, $header-bottom-color);

header {
  overflow: hidden;
  @include background($header-background);
  box-shadow: hsla(0, 0%, 0%, 0.8) 0 1px 3px,
    hsla(0, 100%,100%, 0.9) 0 1px 1px inset;
  overflow: hidden;
  text-shadow: 0 1px 2px black;

  menu {
    list-style: none;
    float: left;
    overflow: hidden;
  }

  menu:last-child {
    float: right;
  }

  menu li {
    float: left;
    margin: 6px;
  }

  a {
    color: $header-link-color;
    padding: 6px 8px;
    border-radius: 3px;
    display: block;
    font-weight: bold;
    -webkit-transition: all 100ms linear;


    &:hover {
      color: $header-link-hover-color;
      background: hsla(0, 0%, 100%, 0.1);
      text-decoration: none;
      box-shadow: rgba(255,255,255,0.3) 0 -1px 1px, 
        rgba(0,0,0,0.9) 0 1px 3px;
    }

    &:active {
      color: $header-link-active-color;
      background: hsla(0, 0%, 0%, 0.6);
      box-shadow: rgba(255,255,255,0.4) 0 1px 1px;
    }

    &:visited {
      color: $header-link-visited-color;
    }
  }



  h1 {
    padding: 10px;
    text-shadow: hsla(0, 0%, 0%, 0.2) 0 1px 1px;
  }
}
