@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  font-family: "Droid sans", Arial, sans;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
  background-color: white;
  background: 
    -webkit-linear-gradient(top, rgb(235, 240, 240), white 60px, white);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 1.2em;
}

section {
  overflow: hidden;
}

footer section, #main {
  width: 1200px;
}

#main {
  overflow: hidden;
  margin: 10px auto;
}

#main section {
  margin-bottom: 30px;
  overflow: hidden;
}

#main p {
  text-align: justify;
}

#main ul {
  padding: 0;
  font-size: 0.9em;
}

#main ul li {
  padding: 2px;
}

#info ul { 
  float: left;
  margin-right: 20px;
  list-style: none;
  font-weight: bold;
}

#info ul span {
  font-weight: normal;
}

#actions ul {
  margin: 0;
}

#actions ul li {
  padding: 6px;
}

#main p {
  font-size: 0.9em;
  line-height: 1.4em;
}

#main h1 a {
  color: inherit;
}

#main h1 {
  width: 900px;
  margin: 16px 0 16px 0;
}

#main h2 {
  margin: 10px 0;
}

#main menu {
  list-style: none;
  padding: 0;
  background: rgb(250,250,250);
  border-top: 1px solid white;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
  box-shadow: hsla(0, 0%, 0%, 0.1) 0 -1px 1px;
  overflow: hidden;
  margin: 6px 0 0 0;
}

#main menu li {
  float: left;
  display: block;
  padding: 2px;
  margin-right: 6px;
}

#main menu li:last-child {
  float: right;
  margin-right: 2px;
}

input, textarea, select {
  -webkit-transition: all 100ms linear;
}

input[type="text"], 
input[type="number"],
select,
textarea {
  background: white;
  box-shadow: rgba(0,0,0,0.15) 0 1px 6px inset;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid hsl(0, 0%, 70%);
}

select {
  background: -webkit-linear-gradient(top, hsl(0, 0%, 93%), white 25%);
}

input[type="checkbox"] {
  background: red;
  border:1px solid blue;
  -webkit-apperance: none;
}

.filter {
  width: 200px;
  float: right;
}

#test input[type="text"], #test textarea {
  display: block;
  width: 100%;
  /*Voodoo to make the input not overflow*/
  box-sizing: border-box;
  margin-bottom: 6px;
}

#test {
  box-shadow: hsla(0, 0%, 0%, 0.4) 0 0 6px;
  margin: 4px;
}

#test section {
  padding: 6px;
  margin: 0;
}

#test ol {
  padding: 0;
  list-style-position: inside;
  list-style: none;
}

#test ol li {
  padding: 4px;
}

#test menu li button {
  min-width: 24px;
}

.active {
  background: hsl(0, 0%, 97%);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, 0.3) 0 0 3px;
}

.active label {
  float: left;
  display: inline-block;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.5);
  margin: 4px;
}

.active input[type="checkbox"] {
  margin: 6px;
}

#main .active menu{
  background: none;
  border: none;
  box-shadow: none;
}

#test-title {
  font-size: 1.4em;
  font-weight: bold;
}

.question-title {
  font-weight: bold;
  font-size: 1.3em;
}

.question-text {
  height: 120px;
}

input[type="checkbox"] {
  padding: 0;
  margin: 0 4px;
}

input:focus, textarea:focus, select:focus {
  border-color: rgb(90,150,255);
  outline: none;
}

button {
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 4px 6px;
  border-radius: 4px;
  -webkit-transition: all 60ms linear;
  font-size: 0.9em;
  cursor: pointer;
  border: none;
}

button, #main menu button:hover {
  background: rgb(245,245,245);
  background: 
    -webkit-linear-gradient(top, rgb(250,250,250), rgb(230,230,230));
  box-shadow: rgba(0,0,0,0.5) 0 1px 1px,
    rgba(0,0,0,0.3) 0 0 2px,
    hsl(0, 0%, 100%) 0 1px 1px inset;
  color: rgba(0,0,0,0.6);
  text-shadow: rgba(255,255,255,1) 0 1px ;
}

#main menu button {
  background: transparent;
  box-shadow: hsla(0, 0%, 0%, 0.3) 0 0 1px;
  color: hsla(0, 0%, 0%, 0.5);
}

button:hover, #main menu button:active {
  background: rgb(90,150,255);
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  color: white;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.4);
  text-decoration: none;
}

.select-button:after, .download-button:after, .view-button:after {
  content: "\0000a0▾";
}

.add-button, .add-button:hover {
  border-radius: 4px 0 0 4px;
  margin-right: -5px;
  text-shadow: rgba(255,255,255,1) 0 1px ;
  text-shadow: rgba(255,255,255,1) 0 1px ;
}

.remove-button, .remove-button:hover {
  border-radius:0 4px 4px 0;
  margin-left: -4px;
}

