table {
  border-collapse: collapse;
  margin: 0;
  font-size: 0.9em;
  width: 100%;
}

thead {
  background: rgb(242, 245, 245);
  background: 
    -webkit-linear-gradient(top, rgb(250, 250, 250), rgb(245, 245, 245));
  border-bottom: 1px solid rgb(220, 220, 220);
  border-top: 1px solid white;
  text-align: left;
  padding: 10px;
  color: rgba(0,0,0,0.7);
  text-shadow: 0 1px 0 white;
  font-size: 1.05em;
}

th {
  border-right: 1px solid rgba(0,0,0,0.1);
  padding: 4px;
}

th:last-child {
  border: none;
}

td { 
  padding: 6px 4px 6px 4px;
}

table a {
  color: inherit;
  font-weight: normal;
}

table tbody tr:nth-child(2n), 
#main ul li:nth-child(2n) {
  background: hsla(210, 50%, 90%, 0.4);
}

.checkbox-col {
  width: 20px;
}

.submitted, .past, .future {
  color: rgba(0,0,0,0.5);
}

.sorted {
  /*background: hsla(210, 80%, 60%, 0.05);*/
}

.unsubmitted {
  background: hsla(0, 20%, 80%, 0.01);
}

.unmarked {
  background: rgb(250,247,247);
}

.unmarked:nth-child(2n) {
  background: rgb(250,235,235);
}
