// Place all the styles related to the section_tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#test-title {
  font-size: 1.4em;
  font-weight: bold;
}

.question-title {
  font-weight: bold;
  font-size: 1.3em;
}

.question-text {
  height: 120px;
}

#test input[type="text"], #test textarea {
  display: block;
  width: 100%;
  /*Voodoo to make the input not overflow*/
  box-sizing: border-box;
  margin-bottom: 6px;
}

#test {
  box-shadow: hsla(0, 0%, 0%, 0.4) 0 0 6px;
  margin: 4px;
}

#test section {
  padding: 6px;
  margin: 0;
}

#test ol {
  padding: 0;
  list-style-position: inside;
  list-style: none;
}

#test ol li {
  padding: 4px;
}

#test menu li button {
  min-width: 24px;
}
