<section>
  <nav>
    <h1>Actions</h1>
    <menu>
      <li><a href="#">View Sections</a></li>
      <li><a href="#">View Tests</a></li>
      <li><a href="#">View Profile</a></li>
      <li><a href="#">Change Settings</a></li>
    </menu>
  </nav>
  <nav>
    <h1>Resources</h1>
    <menu>
      <li><a href="#">About</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#"> Tutorial</a></li>
    </menu>
  </nav>
  <p>Licensed under <a href="#">Some Open Source License</a>.
  Powered by <a href="#">We Need a Name</a>.</p>
</section>
