<header>
  <nav>
    <menu>
      <li><a href="#">Dash</a></li>
      <li><a href="#">Sections</a></li>
      <li><a href="Test.html">Tests</a></li>
    </menu>
    <menu>
      <li><a href="#">John Smith</a></li>
      <li><a href="#" id="settings">Settings</a></li>
    </menu>
  </nav>
</header>
